.auth {
	position: relative;
	top: 50%;
}
.auth-head {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}
.auth-links {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.auth__message {
	padding: 16px 0;
	color: #ff4081 !important;
}